POSTGRES_DB=crocojourney
POSTGRES_USER=croco
POSTGRES_PASSWORD=crocojourneypassword
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

# openssl rand -hex 32
JWT_SECRET=0c4d7c1505ed2a8958d4037210bad3a1e98a1dccfc2713cc38b71d429ee1d998

REDIS_DB=0
REDIS_HOST=127.0.0.1

ENV=development

# s'inscrire sur sendinblue.com
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SERVER=smtp-relay.sendinblue.com